@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2"), format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2"), format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.main-container {
  flex-grow: 1;
}


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: rgb(0, 0, 0);
  background: #ffffff;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-link-button {
  color:#ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
}

.product-button-medium {
  border: none;
  background-color: #82b3d3;
}

.product-cart-rating {
  font-weight: 400;
  color:#333333;
  background-color: #f2f2f2;
}

.main-page-welcome {
  color: #ffffff;
  background-color:  #333333;
  background-image: url("../images/images-index/main-background.svg"), url("../images/images-index/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.main-index-image {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 77px;
}

.main-index {
  color: #333333;
  background-color:  #ffffff;
}

.index-welcome-rows {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.index-welcome-rows-comfort {
  width: 570px;
}

.index-welcome-rows-travel {
  width: 592px;
}

.index-welcome-rows-subscribe {
  width: 475px;
}

.welcome-title {
  margin: 0;
  padding-top: 69px;
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.page-description {
  margin-bottom: 0;
  padding-bottom: 90px;;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-item-dark {
  background-color: #82b3d3;

}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #000000;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
}

.advantages-item-color-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 385px;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-item-images-wrapper {
  display: flex;
  width: 100%;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-title-dark {
  color: #000000;
}

.advantages-description {
  color: #ffffff;
}

.advantage-description-dark {
  color: #333333;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.welcome-title-advantages-user {
  padding-top: 64px;
  margin-bottom: 20px;
}

.page-description-advantages-user {
  padding-bottom: 64px;
}

.advantages-user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.advantages-user-item {
  min-height: 385px;
  width: 400px;
}

.advantages-user-item-advantages-user {
  text-align: center;
  padding: 80px 85px;
}

.advantages-user-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.welcome-title-search {
  padding-top: 96px;
  margin-bottom: 20px;
}

.search-description {
  padding-bottom: 54px;
}

.advantages-title {
  margin: 0;
  margin-bottom: 62px;
}

.advantages-description {
  margin: 0;
}
.advantages-user-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.adventages-user-link {
  text-decoration: none;
}

.advantages-item-text-wrapper {
  text-align: center;
  padding: 103px 85px;
}

.catalog-products-light {
  padding-bottom: 45px;
  background-color: #333333;
  color: #ffffff;
  background-image: url("../images/images-catalog/index-catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat
}

.catalog-products {
  padding: 35px 70px 70px;
}

.hotel {
  background-color: #ffffff;
  color: #000000;
  padding-top: 50px;
  padding-bottom: 60px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: inherit;
}

.filter-button {
  font-family: inherit;
  background: transparent;
  border: none;
}

.filter-button-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.filter-button-light {
  font-family: "PT Sans";
  border: none;
  background-color: #82b3d3;
  text-align: center;
  width: 190px;
  min-height: 36px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 20px;
  width: 1200px;
}

.product-card {
  width: 300px;
  min-height: 438px;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;

}

.product-list-wrapper {
  padding: 0 70px;
}

.inherit-text[value] {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
}

.catalog-filter-title-dark{
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;
}

.hotel-catalog-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* width: 522px; */
  margin-bottom: 40px;
}

.control-input {
  line-height: 23px;
}

.select-filter {
  font-family: inherit;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
}

.search-button-index {
  width: 376px;
  min-height: 52px;
  padding: 8px 50px;
}

.index-welcome-rows-travel {
  text-align: center;
}

.search {
  padding-bottom: 96px;
}

.main-inner-light {
background-color: #ffffff;
color: #000000;
}

.page-footer{
  background-color: #ffffff;
  color: #000000;
}

.page-footer-images {
  color: #ffffff;
  background: #333333;
  background-image: url("../images/images-index/index-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-title-light {
  color: #ffffff;
}

.field {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-link-active {
  background-color: #f2f2f2;
  color: #000000;
}

.newsletter-button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border: none;
}

.button-social {
  text-decoration: none;
  color: inherit;
}

.product-card-title {
  text-transform: none;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.welcome-title-dark {
  color: #000000;
}

.page-footer-social {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  color: #000000;
}

.catalog-filter {
  display: flex;
  justify-content: space-around;
}

.pagination {
  display: flex;
  list-style: none;
}

.pagination-item {
  margin-left: 8px;
}

.page-footer-newsletter {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
}

.welcome-title-footer {
  padding: 0;
  margin-bottom: 20px;
}

.page-footer-description {
  padding-bottom: 54px;
}

.page-footer-social {
  padding-top: 40px;
  padding-bottom: 30px;
}

.adventages-user-link {
  margin-bottom: 16px;
}

.producrt-card-description {
  margin: 0;
}

.product-card-title {
  margin-top: 16px;
  margin-bottom: 16px;
}

.producrt-card-text-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.navigation-link-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.pagination {
  padding-top: 40px;
}


