@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2"), format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2"), format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.navigation-logo {
  width: 140px;
  height: 70px;
  overflow: hidden;
}

.page-header {
  padding: 0 70px;
  color: rgb(0, 0, 0);
  background: #ffffff;
}

.navigation {
  display: flex;
  column-gap: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 440px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 20px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-link-button {
  color:#ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
}

.navigation-link-button-nav {
  border-radius: 4px;
  padding: 8px 34px;
}

.product-button-medium {
  border: none;
  background-color: #82b3d3;
  height: 36px;
  border-radius: 4px;
}

.product-card-price {
  margin-left: auto;
}

.product-cart-rating {
  margin: 0;
  font-weight: 400;
  color:#333333;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.navigation-link-button-accent {
  text-align: center;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.main-page-welcome {
  color: #ffffff;
  background-color:  #333333;
  background-image: url("../images/images-index/main-background.svg"), url("../images/images-index/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.main-index-image {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 77px;
}

.main-index {
  color: #333333;
  background-color:  #ffffff;
}

.index-welcome-rows {
  padding-top: 70px;
  padding-bottom: 90px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.index-welcome-rows-comfort {
  padding-top: 64px 0 64px 0;
  width: 570px;
}

.index-welcome-rows-travel {
  width: 592px;
}

.welcome-title {
  margin: 0;
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.page-description {
  margin-bottom: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-item-dark {
  background-color: #82b3d3;

}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  color: #000000;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
}

.advantages-item-color-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 385px;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-item-images-wrapper {
  display: flex;
  width: 100%;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-title-dark {
  color: #000000;
}

.advantages-description {
  color: #ffffff;
}

.advantage-description-dark {
  color: #333333;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.welcome-title-advantages-user {
  margin-bottom: 20px;
}

.advantages-user-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.advantages-user-item {
  min-height: 385px;
  width: 400px;
}

.advantages-user-item-advantages-user {
  text-align: center;
  padding: 80px 85px;
}

.advantages-user-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.welcome-title-search {
  margin-bottom: 20px;
}

.search-description {
  margin-bottom: 54px;
}

.advantages-title {
  margin: 0;
  margin-bottom: 62px;
}

.advantages-description {
  margin: 0;
}
.advantages-user-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.adventages-user-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.advantages-item-text-wrapper {
  text-align: center;
  padding: 103px 85px;
}

.catalog-products-light {
  padding-bottom: 45px;
  background-color: #333333;
  color: #ffffff;
  background-image: url("../images/images-catalog/index-catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat
}

.catalog-products {
  padding: 35px 70px 70px;
}

.hotel {
  background-color: #ffffff;
  color: #000000;
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 70px;
  padding-right: 70px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: inherit;
}

.filter-button {
  font-family: inherit;
  background: transparent;
  border: none;
}

.filter-button-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.filter-button-light {
  font-family: "PT Sans";
  border: none;
  background-color: #82b3d3;
  text-align: center;
  width: 190px;
  min-height: 36px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.product-card {
  background-color: #ffffff;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  box-shadow: 0 0 10px rgb(230, 230, 230);
  border-radius: 4px;
  grid-template-rows: 1fr;
}

.product-card-link {
  grid-column: 1 / -1;
}

.inherit-text[value] {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
}

.catalog-filter-title-dark{
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
  max-width: 338px;
}

.hotel-catalog-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.hotel-catalog-filter-wrapper .button {
  width: 48px;
  height: 48px;
}

.control-input {
  line-height: 23px;
}

.select-filter {
  margin-right: 70px;
  width: 292px;
  font-family: inherit;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  max-height: 49px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

.search-button-index {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 50px;
  width: 376px;
}

.index-welcome-rows-travel {
  text-align: center;
}

.search {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.main-inner-light {
background-color: #ffffff;
color: #000000;
}

.page-footer{
  background-color: #ffffff;
  color: #000000;
}

.page-footer-images {
  color: #ffffff;
  background: #333333;
  background-image: url("../images/images-index/index-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-title-light {
  color: #ffffff;
}

.field {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: none;
  min-width: 452px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  outline: none;
  border-radius: 4px 0px 0px 4px;
}

.field-dark {
  background-color: #f2f2f2;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 12px;
  min-width: 60px;
  min-height: 60px;
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 4px;
}

.pagination-link-dots {
  background-color: #ffffff;
  color: #000000;
}

.pagination-link-active {
  background-color: #f2f2f2;
  color: #000000;
}

.newsletter-button {
  font-family: inherit;
  padding: 8px 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border: none;
  border-radius: 0px 4px 4px 0px;
}

.button-social {
  text-decoration: none;
  color: inherit;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.welcome-title-dark {
  color: #000000;
}

.page-footer-social {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
  background-color: #ffffff;
  color: #000000;
}

.catalog-filter {
  display: flex;
}

.page-footer-newsletter {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
}

.welcome-title-footer {
  padding: 0;
  margin-bottom: 20px;
}

.page-footer-description {
  padding-bottom: 54px;
  width: 475px;
  margin: 0 auto;
}

.producrt-card-description {
  margin: 0;
}

.product-card-title {
  text-transform: none;
  margin-bottom: 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-item {
  width: 48px;
  height: 40px;
  background-color: #756157;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 28px;
  color: inherit;
}

.pagination-wrapper {
  display: flex;
  padding: 16px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  gap: 8px;
  list-style-type: none;
}

.advantages-image {
  display: block;
  object-fit: contain;
  margin: 0 auto;
}

.button-light:not(:last-child) {
  margin-right: 8px;
}

.catalog-filter-list {
  list-style-type: none;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.button-light-list {
  padding: 0;
  margin: 0;
  display: flex;
  max-width: 208px;
  list-style-type: none;
  margin-left: auto;
  gap: 8px;
}

.button-light-item {
  width: 48px;
  height: 48px;
  background-color: #756157;
}

.product-card-img {
  display: block;
  object-fit: contain;
}
